<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>flashcard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>flashcard.servlets.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlashcardServlet</display-name>
    <servlet-name>AddFlashcardServlet</servlet-name>
    <servlet-class>flashcard.servlets.AddFlashcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlashcardServlet</servlet-name>
    <url-pattern>/AddFlashcardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlashcardServlet</display-name>
    <servlet-name>DeleteFlashcardServlet</servlet-name>
    <servlet-class>flashcard.servlets.DeleteFlashcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlashcardServlet</servlet-name>
    <url-pattern>/DeleteFlashcardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlashcardServlet</display-name>
    <servlet-name>UpdateFlashcardServlet</servlet-name>
    <servlet-class>flashcard.servlets.UpdateFlashcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlashcardServlet</servlet-name>
    <url-pattern>/UpdateFlashcardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAFlashcardServlet</display-name>
    <servlet-name>GetAFlashcardServlet</servlet-name>
    <servlet-class>flashcard.servlets.GetAFlashcardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAFlashcardServlet</servlet-name>
    <url-pattern>/GetAFlashcardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAFlashcardByCategoryServlet</display-name>
    <servlet-name>GetAFlashcardByCategoryServlet</servlet-name>
    <servlet-class>flashcard.servlets.GetAFlashcardByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAFlashcardByCategoryServlet</servlet-name>
    <url-pattern>/GetAFlashcardByCategoryServlet</url-pattern>
  </servlet-mapping>
</web-app>